# Table of Contents

01. Importing Libraries
02. Import Data
03. Task 4.6

# 01. Importing Libraries

In [3]:
#import libraries - Task 4.6
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [4]:
path = r'C:\Users\Cathy\2022 Instacart Basket Analysis'

In [5]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col = False)

In [6]:
df_merged_large = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# 03. Task 4.6

In [7]:
#Check shape
df_merged_large.shape

(32434489, 10)

Ran into memory error merging product data set. Trying Plan A.

In [10]:
#changing data types to conserve memory
df_merged_large.dtypes

order_id                     int64
user_id                      int64
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
product_id                   int64
add_to_cart_order            int64
reordered                    int64
_merge                    category
dtype: object

In [11]:
df_merged_large['order_id']=df_merged_large['order_id'].astype('int32')
df_merged_large['user_id'] = df_merged_large['user_id'].astype('int32')
df_merged_large['order_number']=df_merged_large['order_number'].astype('int8')
df_merged_large['orders_day_of_week']=df_merged_large['orders_day_of_week'].astype('int8')
df_merged_large['order_hour_of_day']=df_merged_large['order_hour_of_day'].astype('int8')
df_merged_large['days_since_prior_order']=df_merged_large['days_since_prior_order'].astype('float16')
df_merged_large['product_id'] =df_merged_large['product_id'].astype('int32')
df_merged_large['reordered']=df_merged_large['reordered'].astype('int8')
df_merged_large['add_to_cart_order']=df_merged_large['add_to_cart_order'].astype('int32')

In [13]:
#remove _merge column for memory
df_merged_large.drop(columns = ['_merge'], inplace = True)

In [14]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [15]:
df_merged_large.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int8
dtypes: float16(1), int32(4), int8(4)
memory usage: 928.0 MB

In [16]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49693 non-null  int64
 1   product_id     49693 non-null  int64
 2   product_name   49677 non-null  object
 3   aisle_id       49693 non-null  int64
 4   department_id  49693 non-null  int64
 5   prices         49693 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

In [17]:
#change product data set data type for memory space
df_prods['product_id']=df_prods['product_id'].astype('int32')
df_prods['aisle_id'] = df_prods['aisle_id'].astype('int32')
df_prods['department_id']=df_prods['department_id'].astype('int8')

In [18]:
#drop Unnamed:0 column for cleaning and memory
df_prods.drop(columns = ['Unnamed: 0'], inplace = True)

In [19]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int32
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int32
 3   department_id  49693 non-null  int8
 4   prices         49693 non-null  float64
dtypes: float64(1), int32(2), int8(1), object(1)
memory usage: 1.2+ MB

In [20]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [21]:
#merge data sets
df_order_products_merged = df_merged_large.merge(df_prods, on = 'product_id', indicator = True)

In [22]:
df_order_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [23]:
#Step 6: merge flag
df_order_products_merged['_merge'].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

In [25]:
#Step 7: export
df_order_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))